.site-header{
background-color: #FFF;
}
.nav-list{
  list-style: none;
}
.nav-link{
color: black;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1px;
text-transform: uppercase;
text-decoration: none;
}
.main-link{
background-color: #FF7500;
color: #FFF;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.5px;
text-decoration: none;
}
.hero{
background-color: #252420;
}
.hr{
width: 80px;
height: 3px;
background-color:#FF7500;;
}
.hero-content{
  width: 387px;
  height: 328px;
  color: #FFF;
}
.hero-img{
width: 510px;
height: 510px;
}
.features{
background-color: #FFF;
}
.features-head{
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 86.4px */
  letter-spacing: 0.5px;
}
.features-icon{
width: 56px;
height: 56px;
background-color: rgba(255, 117, 0, 0.2);
}
.features-content{
  color: #000;
  font-family:"Robot Condensed", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 28.8px */
  letter-spacing: 0.5px;
}
.features-paragraph{
color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.5px;
}
.promo{
background-color: #252420;
}
.promo-heading{
  color: #FFF;
  font-family:"Roboto Condensed", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  /* 48px */
  letter-spacing: 0.5px;
}
.promo-info{
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.5px;
}
.promo-img{
width: 440px;
height: 440px;
}
.site-footer{
background-color: #FFF;
}
.site-footer ul{
  list-style: none;
}
.footer-hr{
width: 1100px;
height: 2px;
background: rgba(37, 36, 32, 0.50);
}
.footer-links{
  width: 224px;
}
.footer-links a{
color: #252420;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}
